@responsive {
  .row {
    @apply w-full;
    height: 410px;
    width: 100%;
    margin: 0 auto;
  }
  .row-md {
    @apply py-0 px-4;
    height: 400px;
  }
  .card_row {
    @apply flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
  }
  .card_row-md {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .card_row .card {
    @apply inline-block flex-shrink-0 relative pt-4;
    width: 300px;
    transition: all 0.4s ease;
    height: 380px;

    scroll-snap-align: start;
  }
  .card-md {
    width: 20% !important;
  }
  .card_row .card {
    @apply inline-block flex-shrink-0 relative pt-4;
    width: 300px;
    transition: all 0.4s ease;
    height: 380px;
    scroll-snap-align: start;
  }
  .card_row .card .card_container {
    @apply rounded-lg overflow-hidden bg-white relative flex flex-col justify-start items-center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .card_row .card.topic .topic_title {
    @apply mb-6;
  }

  .card_row .card.topic .topic_title h2 {
    @apply text-2xl font-bold bg-white px-2 py-2 inline;
    width: 90%;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .card_row .card.topic .topic_data {
    @apply px-4;
    position: absolute;
    left: 3%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 93%;
    height: 93% !important;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%) translateZ(60px);
    -webkit-transform: translateY(-50%) translateZ(60px);
    -ms-transform: translateY(-50%) translateZ(60px);
    top: 50%;
  }

  .card_row .card.topic .topic_data .profile_badge {
    @apply mt-0;
  }

  .card_row .card:hover {
    cursor: pointer;
  }
  .card_title {
    @apply w-full relative bg-gray-200 py-3 mt-6 px-2 flex items-center;
    height: 160px;
    background: rgba(0, 0, 0, 0.02);
    z-index: 10;
  }
  .card_stack .card_title {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 15px 15px 0 0;
  }
  .card_name {
    @apply w-full flex flex-col px-6 pt-6 text-left;
  }
  .card_name h3 {
    @apply w-full text-xl font-bold border-b w-full pb-1;
  }
  .card_name p {
    @apply mt-2 text-xs text-left;
  }
  .card .avatar {
    @apply flex-shrink-0 bg-cover rounded-lg mt-3 mx-auto;
    width: 82%;
    background-position: center center !important;
    height: 145px;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
  }
  .card_excerpt {
    @apply flex-grow relative w-full mx-auto mt-2 pb-4 text-left;
    font-size: 16px;
    line-height: 22px;
    height: 80%;
    width: 80%;
    text-align: left;
    z-index: 10;
  }

  .card_stack .card_excerpt {
    @apply mb-4;
  }
  .card_footer {
    @apply py-3 px-4 w-full text-white font-bold text-xs relative;
    z-index: 10;
    box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
      0deg,
      rgba(245, 82, 0, 1) 0%,
      rgba(255, 154, 0, 1) 100%
    );
  }
  .card_stack .card_footer {
    @apply w-full py-4;
    background: rgba(255, 255, 255, 0.2);
  }

  .flip_card {
    position: relative;
    -webkit-backface-visibility: hidden;
    width: 280px !important;
    height: 100%;
  }

  .flip_card {
    &.active .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    }
    &.active .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    }

    .tap {
      @apply p-3;
      position: relative;
      top: 80%;
      z-index: 9999;
      color: white;
      background: black;
    }

    .tap-md {
      @apply hidden;
    }

  }


}
