@responsive {
  .toggle_menu {
    @apply bg-gray-200 items-center ml-4;
    border-radius: 4px;
    background: black !important;
    overflow: hidden;
    flex-shrink: 0;
  }

  .toggle {
    float: left;
    width: 45px;
    height: 40px;
    background-size: 40% !important;
  }

  .glyph {
    @apply inline-block rounded-full;
    &.date {
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg width='88' height='83' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='0' d='M12 83h64c7 0 12-6 12-12V13c0-7-5-12-12-12H12C5 1 0 6 0 13v58c0 6 5 12 12 12zm64-8H12c-2 0-4-2-4-4V38h72v33c0 2-2 4-4 4zM12 9h64c2 0 4 2 4 4v17H8V13c0-2 2-4 4-4z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E")
        no-repeat center;
      background-size: 45%;
    }
    &.location {
      width: 30px;
      height: 30px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 196 300' fill-rule='evenodd' clip-rule='evenodd' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality'%3E%3Cdefs%3E%3Cstyle%3E.fil0%7Bfill:%23fff;fill-rule:nonzero%7D%3C/style%3E%3C/defs%3E%3Cpath stroke='white' stroke-width='2' class='fil0' d='M98 49a49 49 0 110 98 49 49 0 010-98zm0 17c-17 0-32 14-32 32s15 32 32 32c18 0 32-14 32-32s-14-32-32-32z'/%3E%3Cpath stroke='white' stroke-width='2' class='fil0' d='M98 219c26-29 81-87 81-121 0-45-36-81-81-81S17 53 17 98c0 34 56 93 81 121zm6 19c-4 3-9 2-12-1C61 202 0 140 0 98a98 98 0 01196 0c0 42-61 105-92 140z'/%3E%3C/svg%3E")
        no-repeat center 65%;
      background-size: 40%;
    }
  }

  .toggle:hover {
    cursor: pointer;
  }
  .toggle.calendar {
    background: url("data:image/svg+xml,%3Csvg width='48' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M40 0H8C4 0 0 4 0 8v28c0 4 4 8 8 8h32c4 0 8-4 8-8V8c0-4-4-8-8-8zm0 40H8c-2 0-4-2-4-4V16h40v20c0 2-2 4-4 4z'/%3E%3Ccircle cx='12' cy='24' r='2'/%3E%3Ccircle cx='12' cy='32' r='2'/%3E%3Ccircle cx='20' cy='24' r='2'/%3E%3Ccircle cx='20' cy='32' r='2'/%3E%3Ccircle cx='28' cy='24' r='2'/%3E%3Ccircle cx='28' cy='32' r='2'/%3E%3Ccircle cx='36' cy='24' r='2'/%3E%3Ccircle cx='36' cy='32' r='2'/%3E%3C/g%3E%3C/svg%3E%0A")
      no-repeat center center #efefef;
  }

  .toggle.list {
    background: url("data:image/svg+xml,%3Csvg width='88' height='76' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M9 75a8 8 0 110-16 8 8 0 010 16zm0-29a8 8 0 110-16 8 8 0 010 16zm0-29A8 8 0 119 1a8 8 0 010 16zm70 58H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16z' fill-rule='nonzero'/%3E%3C/svg%3E%0A")
      no-repeat center 53% #efefef;
    background-size: 36% !important;
    border-right: 1px solid white;
  }

  .toggle.cards {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 120'%3E%3Cpath fill='rgba(0,0,0,0.6)' d='M43.6 82L31.9 22.8c-.4-1.7 0-3.4 1-4.8.9-1.4 2.3-2.3 4-2.7l3-.5-26.3-2.2A5 5 0 008 17L3 77.4a5 5 0 004.5 5.5L46.3 86a6.3 6.3 0 01-2.7-4z'/%3E%3Cpath fill='rgba(0,0,0,1)' d='M81.2 13a3.8 3.8 0 00-4.4-3L49 15.4l-11.7 2.3a3.8 3.8 0 00-3 4.5l11.8 59.4a3.8 3.8 0 004.4 3l1.6-.3L90 76.8c1-.2 1.9-.8 2.4-1.6s.8-1.9.6-2.9L81.2 13z'/%3E%3C/svg%3E%0A")
      no-repeat center 75% #efefef;
    background-size: 45% !important;
  }

  .toggle.previous {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E")
      no-repeat center 65%;
    border-right: 1px solid white;
  }

  .toggle.previous:active {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E")
      no-repeat center 65% #000;
  }
  .toggle.next:active {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M43 22l42 42-42 42'/%3E%3C/svg%3E")
      no-repeat center 65% #000;
  }

  .toggle.next {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M43 22l42 42-42 42'/%3E%3C/svg%3E")
      no-repeat center 65%;
  }

  .toggle.cards.active {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 120'%3E%3Cpath fill='rgba(255,255,255,0.8)' d='M43.6 82L31.9 22.8c-.4-1.7 0-3.4 1-4.8.9-1.4 2.3-2.3 4-2.7l3-.5-26.3-2.2A5 5 0 008 17L3 77.4a5 5 0 004.5 5.5L46.3 86a6.3 6.3 0 01-2.7-4z'/%3E%3Cpath fill='rgba(255,255,255,1)' d='M81.2 13a3.8 3.8 0 00-4.4-3L49 15.4l-11.7 2.3a3.8 3.8 0 00-3 4.5l11.8 59.4a3.8 3.8 0 004.4 3l1.6-.3L90 76.8c1-.2 1.9-.8 2.4-1.6s.8-1.9.6-2.9L81.2 13z'/%3E%3C/svg%3E%0A")
      no-repeat center 75% #000;
    background-size: 45% !important;
  }

  .toggle.grid {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 100 125'%3E%3Cpath fill='black' d='M35 0a32 32 0 015 2c3 2 4 6 4 10v21c0 5-2 8-6 10a13 13 0 01-5 1H12c-6 0-10-3-12-9V9c1-3 2-5 5-7a41 41 0 015-2h25zM0 65a34 34 0 012-5 10 10 0 019-4h23a11 11 0 0111 11v22c-1 6-5 11-11 11H11c-5 0-9-3-11-9V65zM90 0a14 14 0 016 3 10 10 0 014 7v23a11 11 0 01-12 11H67c-6 0-11-4-11-10a478 478 0 010-23c0-6 3-10 9-11h25zm10 78v12a11 11 0 01-10 10H66a10 10 0 01-10-10V66a10 10 0 0110-10h24a11 11 0 0110 10v12z'/%3E%3C/svg%3E%0A")
      no-repeat center 65% #efefef;
    background-size: 34% !important;
    border-right: 1px solid white;
  }

  .toggle.grid.active {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 100 125'%3E%3Cpath fill='white' d='M35 0a32 32 0 015 2c3 2 4 6 4 10v21c0 5-2 8-6 10a13 13 0 01-5 1H12c-6 0-10-3-12-9V9c1-3 2-5 5-7a41 41 0 015-2h25zM0 65a34 34 0 012-5 10 10 0 019-4h23a11 11 0 0111 11v22c-1 6-5 11-11 11H11c-5 0-9-3-11-9V65zM90 0a14 14 0 016 3 10 10 0 014 7v23a11 11 0 01-12 11H67c-6 0-11-4-11-10a478 478 0 010-23c0-6 3-10 9-11h25zm10 78v12a11 11 0 01-10 10H66a10 10 0 01-10-10V66a10 10 0 0110-10h24a11 11 0 0110 10v12z'/%3E%3C/svg%3E%0A")
      no-repeat center 65% #000;
    background-size: 34% !important;
  }

  .toggle.calendar.active {
    background: url("data:image/svg+xml,%3Csvg width='48' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fff' fill-rule='nonzero'%3E%3Cpath d='M40 0H8C4 0 0 4 0 8v28c0 4 4 8 8 8h32c4 0 8-4 8-8V8c0-4-4-8-8-8zm0 40H8c-2 0-4-2-4-4V16h40v20c0 2-2 4-4 4z'/%3E%3Ccircle cx='12' cy='24' r='2'/%3E%3Ccircle cx='12' cy='32' r='2'/%3E%3Ccircle cx='20' cy='24' r='2'/%3E%3Ccircle cx='20' cy='32' r='2'/%3E%3Ccircle cx='28' cy='24' r='2'/%3E%3Ccircle cx='28' cy='32' r='2'/%3E%3Ccircle cx='36' cy='24' r='2'/%3E%3Ccircle cx='36' cy='32' r='2'/%3E%3C/g%3E%3C/svg%3E%0A")
      no-repeat center center #000;
  }


  .toggle.list.active {
    background: url("data:image/svg+xml,%3Csvg width='88' height='76' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M9 75a8 8 0 110-16 8 8 0 010 16zm0-29a8 8 0 110-16 8 8 0 010 16zm0-29A8 8 0 119 1a8 8 0 010 16zm70 58H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16zm0-29H34a8 8 0 110-16h45a8 8 0 110 16z' fill-rule='nonzero'/%3E%3C/svg%3E%0A")
      no-repeat center 53% #000;
    background-size: 36% !important;
  }

  .toggle.search_list_mobile {
    width: 40px;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 125'%3E%3Cpath fill='rgba(0,0,0,0.7)' d='M47.1 32.6a14.6 14.6 0 100 29.2 14.6 14.6 0 000-29.2z'/%3E%3Cpath fill='rgba(0,0,0,0.7)' d='M50.1 1.4a48.7 48.7 0 100 97.4 48.7 48.7 0 000-97.4zm23.7 73.7c-.7.7-1.8 1.1-3 1.1s-2.2-.4-3-1.1l-9.2-9.2-.9.5a21.9 21.9 0 117.7-7.1l-.6 1 9.1 9.1c.7.8 1.2 1.8 1.2 2.9-.1 1-.5 2-1.3 2.8z'/%3E%3C/svg%3E")
      no-repeat center 3px;
    background-size: 84% !important;
    &.active {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 125'%3E%3Cpath d='M47.1 32.6a14.6 14.6 0 100 29.2 14.6 14.6 0 000-29.2z'/%3E%3Cpath d='M50.1 1.4a48.7 48.7 0 100 97.4 48.7 48.7 0 000-97.4zm23.7 73.7c-.7.7-1.8 1.1-3 1.1s-2.2-.4-3-1.1l-9.2-9.2-.9.5a21.9 21.9 0 117.7-7.1l-.6 1 9.1 9.1c.7.8 1.2 1.8 1.2 2.9-.1 1-.5 2-1.3 2.8z'/%3E%3C/svg%3E")
        no-repeat center 3px;
    }
  }
}
