@responsive {
  
  .user_grid {
    @apply w-full whitespace-no-wrap h-20 mb-3 float-left;
    width: 100%;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .user_grid-md {
    @apply flex flex-wrap w-full float-left h-auto whitespace-normal;
    align-content: flex-start;
    width: 150%;
  }

  .user_grid .user_avatar {
    @apply bg-cover inline-block;
    width: 78px;
    height: 78px;
  }

  .user_avatar:hover {
    cursor: pointer;
  }

  .user_avatar.active {
    border: 3px solid #FAD964;
  }

  .user_avatar-md {
    @apply flex w-1/5 h-auto justify-center items-center bg-black;

  }
  .user_avatar-md.active img {
    @apply w-11/12;
    border-radius: 3px;
    border: none;
  }

  .mobile_list {
    @apply w-full flex flex-col border border-gray-200 rounded-lg relative overflow-hidden bg-white;
    max-height: 400px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }

  .list_container .list_search {
    @apply flex-shrink border-b w-full overflow-hidden;
    height: 0;
    flex-shrink: 0;
    transition: height .25s ease;
    input {
      @apply hidden bg-gray-100 p-4 w-full h-full text-lg;
    }
    &.active {
      height: 60px;
      input {
        @apply inline-block;
      }
    }
  }

  .list_header, .list_back {
    @apply flex items-center justify-between w-full bg-gray-100;
    height: 65px;
    flex-shrink: 0;
    h3 {
      @apply text-left w-full px-5 py-4 font-bold;
      font-size: 1.35rem !important;
    }
  }

  .list_back {
    background-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.04);
    h3 {
      @apply text-xl;
      padding-left: 20px;
    }
  }

  .list_back_toggle {
    border-right: 1px solid rgba(0,0,0,0.04);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%232EA48A' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E") no-repeat 45% 62% rgba(0,0,0,0.0);
    width: 60px;
    flex-shrink: 0;
    height: 100%;
    background-size: 24px !important;
    border-radius: 5px 0 0 0px;
    &:active {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%232EA48A' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E") no-repeat 45% 62% rgba(0,0,0,0.05);
    }
  }

  .list_scroll {
    @apply overflow-scroll flex-grow h-auto w-full;
  }



  .item_entry {
    @apply flex items-center py-2 font-bold border-b border-gray-200;
    height: auto;
    .item_text {
      @apply flex flex-col h-full items-start justify-center;
      .item_title {
        @apply font-bold text-lg m-0 p-0 h-auto;
      }
      .item_description, .event_time {
        @apply font-light text-sm m-0 p-0 pt-0;
        padding-top: 3px;
      }
    }
    &:last-child {
      @apply border-none;
    }
  }

  .list_scroll li:hover {
    cursor: pointer;
  }

  .list_scroll li.active {
    @apply bg-gray-100;
  }

  .list_scroll li .item_image {
    @apply h-full w-16 bg-cover inline-block mr-3;
    background-position: center center !important;
    flex-shrink: 0;
  }

  .list_item_info {
    @apply py-5 px-6 text-lg;
    p {
      @apply pb-2;
    }
    a.list_item_url {
      @apply border rounded-sm p-3 font-bold;
      font-size: 16px;
    }
  }

  .list_item_info {
    @apply h-full flex-grow overflow-scroll
  }

  .mobile_list {
    &.user {
      .item_entry {
        @apply py-0;
        height: 60px;
      }
    }
    &.event {
      .item_entry {
        @apply py-3 px-5 relative;
        height: auto;
        &.new_date {
          @apply flex flex-col p-0 pb-4 items-start;
          .item_text {
            @apply ml-5;
          }
        }
        .item_time_marker {
          background: #207261;
          color: white;
          @apply p-4 py-2 w-full mb-4;
          top: 0;
          left: 0;
        }
      }
      .list_back.float {
        @apply absolute items-start justify-start;
        background: linear-gradient(180deg, rgba(0,0,0,.85) 0%, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 100%);
        border: none;
        height: 120px;
        .share_links {
          position: absolute;
          top: 12px;
          right: 0px;
          a.social {
            background-color: rgba(0,0,0,0.8);
           }
        }
        .list_back_toggle {
          border-right: none;
          max-height: 60px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 128 160'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M85 22L43 64l42 42'/%3E%3C/svg%3E") no-repeat 45% 62% rgba(0,0,0,0);
        }
        h3 {
          @apply text-xl;
          padding-left: 20px;
        }
      }
      .list_item_info {
        @apply p-0;
        .event_image {
          @apply bg-cover;
          background-position: center center !important;
          height: 200px;
          width: 100%;
        }
        .list_event_title {
          @apply w-full text-white p-4 h-auto bg-black;
          h3 {
            @apply font-bold;
          }
          p {
            @apply m-0 p-0 mt-3 pt-3;
            border-top: 1px solid rgba(255,255,255,0.4);
          }
        }
        .list_item_description {
          @apply mx-4 my-3 mt-5 text-lg;
        }
        a.list_event_url {
          @apply bg-gray-100 font-bold text-lg border-t border-b mx-auto py-4 px-4 w-full block;
          width: 100% !important;
          background: url("data:image/svg+xml,%3Csvg height='100' width='100' xmlns='http://www.w3.org/2000/svg' version='1.0' viewBox='0 0 24 24'%3E%3Cpath d='M20 2H4a2 2 0 00-2 2v12c0 1.1.9 2 2 2h14l4 4V4a2 2 0 00-2-2zm-2 5H6V5h12v2zm0 4H6V9h12v2zm-3 4H6v-2h9v2z'/%3E%3C/svg%3E") no-repeat 15px 55%;
          background-size: 25px;
          padding-left: 50px;
        }
      }
    }
  }

  .share_links {
           @apply flex items-center;
           a.social {
            width: 40px;
            height: 40px;
            @apply inline-block ml-2;
            background-color: #2EA48A;
            background-repeat: no-repeat !important; 
            background-position: center center !important;
            border-radius: 100px;
             &.email {
              background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='envelope' class='svg-inline--fa fa-envelope fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M502 191c4-3 10 0 10 5v204c0 27-21 48-48 48H48c-26 0-48-21-48-48V196c0-5 6-8 10-5l154 114c21 15 56 47 92 47s72-33 92-47l154-114zM256 320c23 0 57-29 73-41 133-97 143-105 174-129 6-5 9-12 9-19v-19c0-26-22-48-48-48H48C22 64 0 86 0 112v19c0 7 3 14 9 19 31 24 41 32 174 129 16 12 50 41 73 41z'/%3E%3C/svg%3E");
              background-size: 16px !important;
             }
             &.facebook {
              background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='facebook-f' class='svg-inline--fa fa-facebook-f fa-w-10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M279 288l14-93h-89v-60c0-25 13-50 53-50h40V6s-37-6-72-6c-73 0-121 44-121 125v70H23v93h81v224h100V288z'/%3E%3C/svg%3E");
              background-size: 11px !important;
             }
             &.twitter {
              background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fab' data-icon='twitter' class='svg-inline--fa fa-twitter fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M459 152l1 13c0 139-106 299-299 299-59 0-115-17-161-47a217 217 0 00156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0136 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 01181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z'/%3E%3C/svg%3E");
              background-size: 17px !important;
             }
           }
        }

  .user_info {
    @apply pl-0 w-full hidden;
  }

  .user_bio {
    @apply text-left p-2 pb-4 px-0 overflow-scroll;
    max-height: 240px;
  }

  .user_bio-md {
    @apply overflow-visible;
    max-height: 100%;
    img {
      display: none;
    }
  }

  .user_name {
    @apply text-2xl font-bold text-left w-full inline-block pb-2 border-b;
  }

  .user_name-md {
    @apply px-2;
  }

}
